---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
import { getCollection } from "astro:content";
import ShowcaseCard from "~/components/showcase-card.astro";
import SimpleShowcaseCard from "~/components/SimpleShowcaseCard.astro";
// Replace this with your image imports
import image1 from "~/content/showcase/_images/Passport-Couriers-iconPink2.png"; 
import image2 from "~/content/showcase/_images/Fragile-Items-Courier-iconPink2.png";
import image3 from "~/content/showcase/_images/Letter-Document-Legal-iconPink.png";
import image4 from "~/content/showcase/_images/Event-Exhibition-Couriers-iconPink.png";
import image5 from "~/content/showcase/_images/Emergency-Courier-Service-iconPink.png";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Preact",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Svelte",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Solid",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];
const showcaseItems = [
{ 
    title: "Passport Courier",
    description: "Don't let a missing passport derail your travel plans – Arknet is your passport courier solution.",
    imagePath: image1,
    link: "#", 
  },
  { 
    title: "Fragile Items",
    description: "Need secure delivery for fragile items? Arknet Logistics provides dedicated vehicles and drivers for peace of mind.",
    imagePath: image2,
    link: "#", 
  },
  { 
    title: "Letter, Document & Legal",
    description: "Need same-day delivery for important documents? Our courier service offers trackable delivery with in-person handoff.",
    imagePath: image3,
    link: "#", 
  },
  { 
    title: "Event & Exhibition",
    description: "Urgent event or exhibition delivery in the UK? We offer same-day courier service with secure, on-time arrival.",
    imagePath: image4,
    link: "#", 
  },
  { 
    title: "Emergency Couriers",
    description: "Need something delivered urgently in the UK? Our trusted, same-day courier service guarantees secure, on-time delivery.",
    imagePath: image5,
    link: "#", 
  },
  // { 
  //   title: "Passport Courier",
  //   description: "You've meticulously planned that dream vacation or crucial business trip. Panic sets in at the airport – your passport is missing! Don't let a forgotten passport derail your plans. Breathe, and call Arknet – your passport courier solution.",
  //   imagePath: image1,
  //   link: "#", 
  // },
  // { 
  //   title: "Fragile Items",
  //   description: "Need fast, secure delivery for your fragile items? Arknet Logistics provides dedicated vehicles and drivers, ensuring your valuables are transported with the utmost care, directly to their destination. No unnecessary detours, no shared vans – just peace of mind.",
  //   imagePath: image2,
  //   link: "#", 
  // },
  // { 
  //   title: "Letter, Document & Legal",
  //   description: "Need important documents delivered same-day? Our dedicated courier service ensures swift, trackable delivery with in-person handoff, surpassing standard postal options.",
  //   imagePath: image3,
  //   link: "#", 
  // },
  // { 
  //   title: "Event & Exhibition",
  //   description: "Urgent event or exhibition delivery in the UK? We offer same-day courier service with 60-minute pickup, ensuring your merchandise, equipment, or other materials arrive securely and on time. We're your reliable event logistics partner.",
  //   imagePath: image4,
  //   link: "#", 
  // },
  // { 
  //   title: "Emergency Courriers",
  //   description: "Need something delivered urgently in the UK? Our trusted, same-day courier service offers 60-minute pickup and guarantees secure, on-time delivery for your time-sensitive items.",
  //   imagePath: image5,
  //   link: "#", 
  // },
]; 
const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
// const services = [
//   {
//     title: "Passport Couriers",
//     description: "Many of us have done it, and if we haven’t done it then we fear doing it… You’ve looked forward to that family holiday all year, or you’ve been preparing for weeks for that continental business trip. The morning arrives of your flight and you set out to the airport. You get there and realise you are missing the vital thing – your passport. You start to panic and wonder whether your trip will be lost. Panicking is the worst thing you can do! Stop, think rationally, and think Rock Solid Deliveries, who provide a forgotten passport courier service."
//   },
//   {
//     title: "Fragile Items Courier",
//     description: "Need fast, secure delivery for your fragile items? Rock Solid Deliveries provides dedicated vehicles and drivers, ensuring your valuables are transported with the utmost care, directly to their destination. No unnecessary detours, no shared vans – just peace of mind."
//   },
//   {
//     title: "Letter, Document & Legal",
//     description: "Need important documents delivered same-day? Our dedicated courier service ensures swift, trackable delivery with in-person handoff, surpassing standard postal options."
//   },
//   {
//     title: "Event & Exhibition Couriers",
//     description: "Urgent event or exhibition delivery in the UK? We offer same-day courier service with 60-minute pickup, ensuring your merchandise, equipment, or other materials arrive securely and on time. Backed by stellar TrustPilot reviews, we're your reliable event logistics partner."
//   },
//   {
//     title: "Emergency Courier Service",
//     description: "Need something delivered urgently in the UK? Our trusted, same-day courier service offers 60-minute pickup and guarantees secure, on-time delivery for your time-sensitive items. Check out our excellent TrustPilot reviews!"
//   },
// ];
---

<ContentSection title="Our Services" id="compatibility">
  <Fragment slot="lead">
    A comprehensive <span class="text-primary">breakdown</span> of the services offered by{" "}
    <span class="text-primary">Arknet Logistics</span>.
  </Fragment>

  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {showcaseItems.slice(0, 3).map((item) => (
        <SimpleShowcaseCard
          title={item.title}
          description={item.description}
          imagePath={item.imagePath}
          link={item.link}
        />
      ))}
    </div>
    <div class="lg:flex lg:justify-center mt-4 lg:mt-0">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 w-full lg:w-[66.666%]">
        {showcaseItems.slice(3).map((item) => (
          <SimpleShowcaseCard
            title={item.title}
            description={item.description}
            imagePath={item.imagePath}
            link={item.link}
          />
        ))}
      </div>
    </div>
  </div>
</ContentSection>
<style> /*  You can add this style tag or put it in your global CSS */
  .max-w-6xl > div {
    gap: 1rem; /* Adjust this value to control vertical spacing */
  }
</style>
<!-- <script>
function openPopup(button: HTMLButtonElement) {
    const popupId = button.dataset.target; 
    if (popupId) { 
      const popup: HTMLElement | null = document.getElementById(popupId);
      if (popup) {
        popup.style.display = "block";
      }
    }
  }
  function closePopup(button: HTMLElement) {
    const popup = button.parentElement?.parentElement; // Use optional chaining
    if (popup) {
      popup.style.display = "none";
    }
  }
  const serviceButtons = document.querySelectorAll(".service-button") as NodeListOf<HTMLButtonElement>; 
  serviceButtons.forEach((button) => {
    button.addEventListener("click", () => {
      openPopup(button);
    });

  });

  const closeButtons = document.querySelectorAll(".close-button") as NodeListOf<HTMLButtonElement>; ;
    closeButtons.forEach((button) => {
      button.addEventListener("click", () => {
        closePopup(button);
      });
    });
</script> -->
